body {
    background: linear-gradient(to right, #E6E8F0, #D8E0F0);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 1000px;
    height: 750px;
    margin: 20px auto;
}

.title {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #6B5B95;
    text-align: center;
}

.diagram {
    position: relative;
    width: 100%;
    height: 100%;
}

.central-circle {
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6B5B95;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.central-circle svg {
    position: absolute;
    z-index: -1;
}

.central-circle span {
    z-index: 1;
}


.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 30px;
    z-index: 1;
}

.top-left {
    left: calc(30% - 50px);
    top: calc(30% - 50px);
    border-color: #F4A261;
}

.bottom-left {
    left: calc(30% - 50px);
    top: calc(70% - 50px);
    border-color: #6B5B95;
}

.bottom-center {
    left: calc(50% - 50px);
    top: calc(80% - 50px);
    border-color: #4DA8DA;
}

.bottom-right {
    left: calc(70% - 50px);
    top: calc(70% - 50px);
    border-color: #3A5FCD;
}

.top-right {
    left: calc(70% - 50px);
    top: calc(30% - 50px);
    border-color: #6B5B95;
}

.label {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: center;
    white-space: nowrap;
}

.label.top-left {
    left: 30%;
    top: calc(30% + 60px);
    transform: translateX(-50%);
}

.label.bottom-left {
    left: 30%;
    top: calc(70% + 60px);
    transform: translateX(-50%);
}

.label.bottom-center {
    left: 50%;
    top: calc(80% + 60px);
    transform: translateX(-50%);
}

.label.bottom-right {
    left: 70%;
    top: calc(70% + 60px);
    transform: translateX(-50%);
}

.label.top-right {
    left: 70%;
    top: calc(30% + 60px);
    transform: translateX(-50%);
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
